.head-content {
  text-align: center;
}
.head-content h1 {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.head-content p {
  max-width: 750px;
  margin: auto;
  font-size: 1.9rem;
  font-weight: 400;
  word-spacing: 0.25rem;
  color: var(--text-secondary);
  margin-bottom: 2rem;
}
